<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <!-- Archivo CSS externo -->
    <link rel="stylesheet" href="/../../public/css/main.css">

    <!-- SweetAlert2 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Calculadora PHP</title>
</head>
<body>

<form method="post" action="index.php">
    <input type="number" name="n1" required placeholder="Número 1">
    <input type="number" name="n2" required placeholder="Número 2">

    <select name="operacion">
        <option value="Suma">Suma</option>
        <option value="Resta">Resta</option>
        <option value="Multiplicacion">Multiplicacion</option>
        <option value="Division">Division</option>
    </select>

    <button type="submit">Enviar</button>
</form>

</body>
</html>
